*, *::before, *::after{ box-sizing: border-box; }
/* common
---------------------- */
body{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 4.5px;
    color: #505253;
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
a{
    text-decoration: none;
    color: #BEB9B3;
}
i{
    color: #BEB9B3;
}
.main-area{
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #f8f8f8;
    position: relative;
    margin-bottom: 20%;
    overflow: hidden;
}
.main-area:nth-of-type(4){
    margin-bottom: 0;
}
.main-block{
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 5;
}
.main-block h3{
    z-index: 10;
}
.text-area{
    width: 35.078%;
    height: 36.184%;
    position: absolute;
    top: 50.453%;
    left: 15.789%;
}
.text-area h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 7.819%;
    color: #505253;
}
.text-area span{
    font-size: 26px;
    opacity: 0.6;
    border-bottom: solid 3px #A19047;
    color: #505253;
}
.text-area p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 1.25px;
    line-height: 2.5;
}

.img-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    z-index: 27;
}
.img-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 80% 0, 100% 100%, 0% 100%);
    z-index: 27;
}
.deco-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 1;
}
.deco-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 1;
}

.title-back{
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20vw;
    letter-spacing: 10px;
    color: #F0F0F0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 1;
}





/* animation
---------------------- */
@keyframes top-in{
    0%{
        top: -46%;
    }
    100%{
        top: 0;
    }
}
@keyframes top-in-text{
    0%{
        top: -5%;
    }
    100%{
        top: 27.354%;
    }
}
@keyframes left-in-text{
    0%{
        left: 0%;
    }
    100%{
        left: 15.789%;
    }
}
@keyframes right-in-text{
    0%{
        right: 0;
    }
    100%{
        right: 15.789%;
    }
}
@keyframes right-in-img{
    0%{
        right: -20%;
    }
    100%{
        right: 0;
    }
}
@keyframes left-in-img{
    0%{
        left: -20%;
    }
    100%{
        left: 0;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left-in-more{
    0%{
        left: 110%;
    }
    100%{
        left: 45.184%;
    }
}
.left-in-text{
    /* アニメーション */
    animation-name: left-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.right-in-text{
    /* アニメーション */
    animation-name: right-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.right-in-img{
    /* アニメーション */
    animation-name: right-in-img;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.left-in-img{
    /* アニメーション */
    animation-name: left-in-img;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.left-in-more{
    /* アニメーション */
    animation-name: left-in-more;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in{
    /* アニメーション */
    animation-name: top-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in-text{
    /* アニメーション */
    animation-name: top-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* product1Area
---------------------- */
.product01 .img-right{
    background: url(../img/product1.jpg) no-repeat center center;
    background-size: cover;
}

/* product2Area
---------------------- */
.right-area .title-area{
    position: absolute;
    /* top: -46%; */
    top: 0;
    left: auto;
    right: 10.937%;
}
.right-area .title-text{
    position: absolute;
    top: 27.354%;
    left: 81%;
    /* right: 5.854%; */
    z-index: 23;
}
.right-area .text-area{
    width: 35.078%;
    height: 36.184%;
    position: absolute;
    top: 44.453%;
    left: auto;
    /* right: auto; */
    right: 15.789%;
}
.right-area .img-left{
    background: url(../img/product02.jpg) no-repeat center center;
    background-size: cover;
}


/* product3Area
---------------------- */
.package .img-right{
    background: url(../img/product.jpg) no-repeat center center;
    background-size: cover;
}


/* howtoArea
---------------------- */
#howtoArea .title-area{
    width: 255px;
    height: 40%;
    position: absolute;
    /* top: -46%; */
    top: 0;
    left: auto;
    right: 4.937%;
    z-index: 23;
    opacity: 1;
}
#howtoArea .title-area .title-line{
    width: 1px;
    height: 58.186%;
    background-color: #505253;
    margin: 0 auto 0 40%;
}
#howtoArea .title-area figure{
    width: 45.984%;
    margin: -12% 0 0 18.181%;
}
#howtoArea .title-area figure img{
    width: 100%;
}
#howtoArea .title-area h2{
    font-size: 20px;
    line-height: 13px;
    margin: 5% 0 4% 25%;
}
#howtoArea .title-area p{
    font-size: 10px;
    margin: 0 0 0 25%;
}

#howtoArea .img-left{
    background: url(../img/howto.jpg) no-repeat center center;
    background-size: cover;
}
#howtoArea .more-area{
    width: 20.578%;
    height: 61px;
    position: absolute;
    top: 83.27%;
    left: 100%;
    /* left: 45.184%; */
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding: 23px 0 23px 0;
    /* margin: 0 auto; */
    background-color: #A19047;
    z-index: 25;
}
#howtoArea .more-area:hover{
    background-color: unset;
    color: #A19047;
    border: 1px solid;
}

/* レスポンシブ
---------------------- */
@media(max-width: 750px){
    .title-back{
        width: 100%;
        font-size: 17vw;
        letter-spacing: 10px;
        margin: 20% auto 0 auto;
    }

    

    .title-text2 h2{
        font-size: 17px;
    }
    .title-text2 p{
        font-size: 10px;
    }

    .main-area{
        height: 130vh;
        margin-bottom: 0;
    }
    .main-block{
        height: 85%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .text-area{
        width: 70%;
        height: 80vh;
        position: absolute;
        top: 22.453%;
        left: auto;
    }
    .text-area h3{
        font-size: 19px;
        letter-spacing: 2px;
        line-height: 1.5;
        margin-bottom: 8%;
    }
    .text-area span{
        font-size: 25px;
    }
    .text-area p{
        font-size: 12px;
    }
    .right-area .title-area{
        width: 170px;
        height: 52%;
        position: absolute;
        top: 0;
        left: 2%;
    }
    .right-area .title-text{
        position: absolute;
        top: 27.354%;
        left: 13.854%;
    }
    .right-area .title-text2{
        position: absolute;
        top: 22.453%;
        left: 13.854%;
    }
    .right-area .text-area{
        width: 70%;
        height: 80vh;
        position: absolute;
        top: 22.453%;
        left: auto;
        right: 15.789%;
    }
    .img-right{
        width: 100%;
        height: 50vh;
    }
    .deco-left{
        width: 100%;
        height: 50vh;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
    }
    .img-left{
        width: 100%;
        height: 50vh;
    }
    .deco-right{
        width: 100%;
        height: 50vh;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
    }
    #howtoArea{
        height: 135vh;
    }
        /* common title
    ---------------------- */
    #howtoArea .title-area{
        width: 240px;
        height: 30%;
        position: absolute;
        top: 0;
        left: -20px;
    }
    #howtoArea .title-area .title-line{
        width: 1px;
        height: 170px;
        background-color: #505253;
        margin: 0 auto 0 40%;
    }
    #howtoArea .title-area figure{
        width: 44.984%;
        margin: -14% 0 0 18.181%;
    }
    #howtoArea .title-area figure img{
        width: 100%;
    }
    #howtoArea .title-area h2{
        font-size: 18px;
        line-height: 13px;
        margin: 5% 0 4% 26%;
    }
    #howtoArea .title-area p{
        font-size: 8px;
        margin: 0 0 0 26%;
    }

    #howtoArea .text-area{
        top: 20.453%;
    }
    #howtoArea .more-area{
        width: 62.578%;
        height: 55px;
        position: absolute;
        top: 55.27%;
        right: 0;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        padding: 20px 0 20px;        background-color: #A19047;
    }
}

@media(min-width:1200px){
    body{
        font-size: 23px;
    }
    .nav-list span{
        font-size: 12px;
    }
    .share p{
        font-size: 20px;
    }
    nav p{
        font-size: 12px;
    }
    .right-buttom-area .button-shop p{
        font-size: 25px;
    }
}