*, *::before, *::after{ box-sizing: border-box; }
/* common
---------------------- */
body{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 4.5px;
    color: #505253;
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
a{
    text-decoration: none;
    color: #BEB9B3;
}
i{
    color: #BEB9B3;
}

main{
    height: 223vh;
    background-color: #f8f8f8;
}
.main-area{
    width: 100vw;
    height: 100vh;
    padding: 0;
    /* background-color: #ffffff; */
    position: relative;
    margin-bottom: 10%;
}
.main-block{
    width: 100%;
    height: 100%;
    /* background-color: #f8f8f8; */
    position: relative;
}

/* common title
---------------------- */
.shoptitle-area{
    width: 255px;
    height: 40%;
    position: absolute;
    top: 0;
    left: 8.562%;
    z-index: 23;
    opacity: 1;
}
.shoptitle-area .title-line{
    width: 1px;
    height: 58.186%;
    background-color: #505253;
    margin: 0 auto 0 40%;
}
.shoptitle-area figure{
    width: 45.984%;
    margin: -12% 0 0 18.181%;
}
.shoptitle-area figure img{
    width: 100%;
}
.shoptitle-area h2{
    font-size: 20px;
    line-height: 13px;
    margin: 5% 0 4% 25%;
}
.shoptitle-area p{
    font-size: 10px;
    margin: 0 0 0 25%;
}



/* animation
---------------------- */
@keyframes line {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      60% {
        -webkit-transform: translate3d(0, 117px, 0);
        transform: translate3d(0, 117px, 0);
      }
      100% {
        -webkit-transform: translate3d(0, 117px, 0);
        transform: translate3d(0, 117px, 0);
      }
}
@keyframes top-in{
    0%{
        top: -46%;
    }
    100%{
        top: 0;
    }
}
@keyframes top-in-text{
    0%{
        top: -5%;
    }
    100%{
        top: 27.354%;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes right-in-img{
    0%{
        right: -20%;
    }
    100%{
        right: 2.625%;
    }
}
@keyframes left-in-img{
    0%{
        left: -20%;
    }
    100%{
        left: 5.208%;
    }
}
.left-in-img{
    /* アニメーション */
    animation-name: left-in-img;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.right-in-img{
    /* アニメーション */
    animation-name: right-in-img;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in{
    /* アニメーション */
    animation-name: top-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in-text{
    /* アニメーション */
    animation-name: top-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/* main-block
---------------------- */
.main-block h3{
    position: absolute;
    top: 39.573%;
    left: 26.298%;
    z-index: 10;
}
.main-block p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.25px;
    line-height: 2;
    position: absolute;
    left: 5.208%;
    bottom: 7.126%;
    z-index: 10;
}
.main-block span{
    font-size: 0.8vw;
}
.main-block .title-back{
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23vw;
    letter-spacing: 25px;
    color: #F0F0F0;
    text-align: center;
    position: fixed;
    z-index: 1;
}
.img-block{
    width: 47.291%;
    height: 25.393%;
    position: absolute;
    top: 45.968%;
    left: 5.208%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.img-block .img{
    width: 32.158%;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.30);
    transition-duration: 0.6s;
    cursor: pointer;
}
.img-block .img:hover{
    margin-top: -2%;
    /* transition-duration: 0.6s; */
}
.img-block .img:hover::after{
    margin-top: 0;
    transition-duration: 0.6s;
}
.img-block .img01{
    /* background-image: url(../img/shop01.png);
    background-repeat: no-repeat;
    background-position: center center; */
    background: url(../img/shop01.png) no-repeat center center;
    background-size: cover;
}
.img-block .img02{
    background: url(../img/package02.png) no-repeat center center;
    background-size: cover;
}
.img-block .img03{
    background: url(../img/shop03.jpg) no-repeat center center;
    background-size: cover;
}
.main-block .img-main{
    width: 47.5%;
    height: 79.332%;
    background: url(../img/shop01.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 15.569%;
    right: 2.625%;
    z-index: 2;
    transition-duration: 0.6s;
}
.deco-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 1;
}


/* select-area
---------------------- */
.select-area{
    width: 100vw;
    height: 100vh;
    /* padding: 0 1.875% 0 1.875%; */
    /* background-color: #ffffff; */
    position: relative;
}
.select-block{
    width: 100%;
    height: 100%;
    /* background-color: #f8f8f8; */
    padding: 5.858% 9.922% 0 9.922%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.deco-right{
    width: 48.157%;
    height: 107%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 1;
}
.preview{
    width: 49.621%;
    height: 90.898%;
    border-radius: 10px;
    background-color: #FFFFFF;
    z-index: 20;
    padding: 3.336% 2.164% 0 2.164%;
    /* position: absolute;
    top: 11%;
    left: 0; */
    position: relative;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
}
.preview-img{
    width: 100%;
    height: 60.216%;
    background: url(../img/package02.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 2.711%;
}
dl{
    display: flex;
}
dt{
    color: #707070;
    font-size: 12px;
    margin-bottom: 2.092%;
}
dd{
    color: #707070;
    font-size: 12px;
    margin-bottom: 2.092%;
}
.preview-name{
    font-size: 16px;
    margin-bottom: 4.092%;
}

.price01{
    font-size: 10px;
    position: absolute;
    top: 87.773%;
    right: 4%;
}
.preview-price{
    font-size: 18px;
    position: absolute;
    top: 90.773%;
    right: 5.082%;
}
.preview .cart{
    width: 40%;
    height: 41.7px;
    position: absolute;
    top: 88.773%;
    left: 4.664%;
    background-color: #A19047;
    border-radius: 3px;
    color: #ffffff;
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
    padding: 15px;
    transition-duration: 0.6s;
    cursor: pointer;
}
.preview .cart:hover{
    background-color: #ffffff;
    color: #A19047;
    border: 1px solid;
}



#overlay.overlay{
    width: 100vw;
    height: 100vh;
    /* padding: 0 5.922% 0 5.922%; */
    background-color: rgba(58, 70, 46, 0.80);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition-duration: 0.6s;
}
.container{
    width: 400px;
    height: 85%;
    margin: 0 auto;
    position: absolute;
    top: 13%;
    left: 0;
    right: 0;
    bottom: 0;
}
.cart2{
    width: 400px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 51;
    padding: 5% 5% 0 5%;
    transition-delay: 0.3s;
}
#previewPrice2{
    font-size: 18px;
    margin-bottom: 4.092%;
}
.cart-close{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 55;
}
.cart-close span{
    width: 30px;
    height: 2px;
    background-color: #BEB9B3;
    z-index: 55;
    display: block;
}
.cart-close span:nth-of-type(1){
    transform: translateY(12px) rotate(-45deg);
    position: absolute;
    top: 0;
    left: 0;
}
.cart-close span:nth-of-type(2){
    transform: translateY(12px) rotate(-135deg);
    position: absolute;
    top: 0;
    right: 0;
}

.select-box{
    width: 42.692%;
    /* height: 139.573%; */
    z-index: 25;
}
#selectClose{
    display: none;
}
.select-box .select{
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
    transition-duration: 0.6s;
}
.select-box .select:hover{
    background: #E5EDDE;
    /* transition-duration: 0.6s; */
}
.select-box p{
    font-size: 1.1vw;
    color: #707070;
    cursor: pointer;
    /* margin-bottom: 5%; */
}
/*アコーディオンで現れるエリア*/
.box {
    /*はじめは非表示*/
    display: none;
    /* display: block; */
    background: #f3f3f3;
    margin:5% 2% 2% 2%;
    padding: 3%;
}
.select  span{
    color: #D393A7;
}
.calender span{
    color: #D393A7;
}
.box p{
    margin: 5%;
}
.box p:hover{
    color: #ffffff;
    background-color: #BEB9B3;
}
.option{
    font-size: 1.1vw;
    color: #707070;
    cursor: pointer;
    /* margin-bottom: 5%; */
    margin: 5%;
}
.option:hover{
    color: #ffffff;
    background-color: #BEB9B3;
}
.select-box .cart{
    width: 65%;
    height: 6.469%;
    background-color: #A19047;
    color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.30);
    text-align: center;
    border-radius: 10px;
    padding: 4%;
    margin: 0 auto;
    transition-duration: 0.6s;
}
.select-box .cart:hover{
    background-color: #ffffff;
    color: #A19047;
    border: 1px solid;

}
input{
    border: none;
    padding: 2%;
}
button{
    font-size: 1vw;
    border: none;
    color: #ffffff;
    background-color: #A19047;
    padding: 2% 4% 2% 4%;
    border-radius: 4px;
}
button:hover{
    background-color: unset;
    color: #A19047;
    border: 1px solid;
}
#previewMessageTitle{
    display: none;
}
/* カレンダー
---------------------- */

.calender{
    background-color: #ffffff;
    padding: 5.5% 10% 5% 10%;
    margin-bottom: 4.545%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
    transition-duration: 0.6s;
}
.calender:hover{
    background-color: #E5EDDE;
}
.calender section{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    padding: 5% 3% 3% 3%;
    background: #ffffff;
}
.calender p{
    font-size: 1.1vw;
    color: #707070;
    border-radius: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.30);
    margin-left: -6%;
    /* margin: -10% 0 0 -6%; */
}
tbody{
    width: 100%;
}
/* tr{
    width: 100%;
} */
.select-box div h3 {
    font-size: 18px;
    color: #707070;
    margin-bottom: 4.545%;
    text-align: center;
}

.select-box div table {
    width: 100%;
    border-spacing: 0;
    color: #707070;
    border-collapse: collapse;
    margin: 0 auto;
}
.select-box div td {
    font-size: 18px;
    color: #707070;
    border-width: 1px 0px;
    border-color: #ddd;
    border-style: solid;
    padding: 4% 0 4% 0;
    text-align: center;
    cursor: pointer;
}
/* .is-disabled:hover{
    background: none;
} */
.select-box div .calendar_td:hover {
    background: url(../img/circle_gray@2x.png) no-repeat center center;
    background-size: contain;
}
.select-box div td:first-child:hover {
    /* color: #D393A7; */
    background: url(../img/circle_red@2x.png) no-repeat center center;
    background-size: contain;
}

.select-box div td:last-child:hover {
    /* color: #A6B2DB; */
    background: url(../img/circle_blue@2x.png) no-repeat center center;
    background-size: contain;
}
/* .cart2  */


/* レスポンシブ
---------------------- */
@media(max-width: 750px){
    .main-block .title-back{
        width: 100%;
        font-size: 19vw;
    }
    
        /* common title
    ---------------------- */
    .shoptitle-area{
        width: 240px;
        height: 30%;
        position: absolute;
        top: 0;
        left: -23px;
    }
    .shoptitle-area .title-line{
        width: 1px;
        height: 170px;
        background-color: #505253;
        margin: 0 auto 0 40%;
    }
    .shoptitle-area figure{
        width: 44.984%;
        margin: -14% 0 0 18.181%;
    }
    .shoptitle-area figure img{
        width: 100%;
    }
    .shoptitle-area h2{
        font-size: 18px;
        line-height: 13px;
        margin: 5% 0 4% 26%;
    }
    .shoptitle-area p{
        font-size: 8px;
        margin: 0 0 0 26%;
    }

        /* main-block
    ---------------------- */
    .main-area{
        /* height: 120vh; */
        margin-bottom: 45%;
    }
    .main-block h3{
        position: absolute;
        top: 41.573%;
        left: 10.298%;
        font-size: 14px;
    }
    .main-block p{
        width: 90%;
        font-size: 10px;
        position: absolute;
        left: 5.208%;
        bottom: -17.126%;
    }
    .main-block span{
        font-size: 8px;
    }
    .img-block{
        display: none;
    }
    .main-block .img-main{
        width: 95%;
        height: 50%;
        position: absolute;
        top: 45.569%;
        right: 2.625%;
    }
    .deco-left{
        width: 48.157%;
        height: 100%;
    }
        /* select-area
    ---------------------- */
    .select-area{
        width: 100vw;
        /* height: 130vh; */
        height: unset;
        position: relative;
    }
    .select-block{
        width: 100%;
        height: 100%;
        padding: 5.858% 4.922% 0 4.922%;
        /* position: relative; */
        display: block;
        /* flex-direction: column-reverse; */
        justify-content: space-between;
    }
    .deco-right{
        width: 48.157%;
        height: 107%;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
        background-color: #3A462E;
        z-index: 1;
    }
    .preview{
        width: 100%;
        height: 490px;
        padding: 5% 5% 0 5%;
        margin: 0 auto;
        position: relative;
        /* position: absolute;
        top: 65vh;
        left: 5.922%; */
        z-index: 23;
        /* margin: 0 auto 30px auto; */
    }
    .preview-img{
        height: 60%;
        margin-bottom: 2.011%;
    }
    dt{
        font-size: 11px;
        margin-bottom: 1.592%;
    }
    dd{
        font-size: 11px;
        margin-bottom: 1.592%;
    }
    .preview-name{
        font-size: 14px;
        margin-bottom: 1.592%;
    }
    .price01{
        position: absolute;
        top: 87.773%;
        right: 4%;
        font-size: 10px;
    }
    #previewPrice{
        font-size: 19px;
        position: absolute;
        top: 90.773%;
        right: 5.082%;
    }
    .preview .cart{
        width: 40%;
        /* height: ; */
        position: absolute;
        top: 85.773%;
        left: 4.664%;
        font-size: 10px;

    }
    .container{
        width: 330px;
        height: 65%;
        margin: 0 auto;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .cart2{
        width: 330px;
        height: 85%;
        position: absolute;
        top: 7%;
        left: 0;
        right: 0;
        bottom: 0;
        /* margin: 0 auto; */
        z-index: 51;
        transition-delay: 0.3s;
    }
    #previewPrice2{
        font-size: 16px;
        margin-bottom: 4.092%;
    }
    .cart-close{
        position: absolute;
        top: 0;
        right: 0;
    }
    .select-block{
        z-index: 28;
    }
    
    .select-box{
        width: 100%;
        /* z-index: 28; */
    }
    .select-box .select{
        width: 100%;
        padding: 5%;
        margin-bottom: 5%;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
        transition-duration: 0.6s;
    }
    .select-box .select:hover{
        background: #E5EDDE;
        /* transition-duration: 0.6s; */
    }
    .select-box p{
        font-size: 12px;
        color: #707070;
        /* margin-bottom: 5%; */
    }
    /*アコーディオンで現れるエリア*/
    .box p{
        font-size: 12px;
        margin: 5%;
    }
    .option{
        font-size: 12px;
    }

}

@media(min-width:1200px){
    body{
        font-size: 23px;
    }
    .more-area h3{
        font-size: 18px;
    }
    .title-text h2{
        font-size: 25px;
    }
    .title-text p{
        font-size: 14px;
    }
    
    .share p{
        font-size: 20px;
    }
    nav p{
        font-size: 10px;
    }
    .preview .price{
        font-size: 12px;
        /* padding: 1%; */
    }
    dt, dd{
        font-size: 13px;
    }
    .preview-name{
        font-size: 18px;
    }

}


