*, *::before, *::after{ box-sizing: border-box; }
/* common
---------------------- */
body{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 4.5px;
    color: #505253;
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 1.2px;
    color: #505253;
}
a{
    text-decoration: none;
    color: #BEB9B3;
}
i{
    color: #BEB9B3;
}
.main-area{
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 0;
    margin-top: 200px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.main-block{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
}
.text-area{
    width: 35.078%;
    height: 36.184%;
    position: absolute;
    top: 44.453%;
    left: 15.789%;
}
.text-area h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 4.819%;
    color: #505253;
}
.text-area p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 1.25px;
    line-height: 2;
}
.img-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    z-index: 27;
}
.deco-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 1;
}
.img-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    z-index: 26;
}
.deco-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 2;
}

/* common more
---------------------- */
.more-area{
    width: 20.578%;
    height: 9.737%;
    position: absolute;
    top: 80.27%;
    left: -33.184%;
    position: relative;
}
svg{
    position: absolute;
    bottom: 0;
    left: 0;
}
circle{
    fill: transparent;
    stroke: #505253;
    stroke-width: 1;
    animation: circle 2s infinite;
}
.more-line{
    width: 87%;
    height: 1px;
    background-color: #505253;
    position: absolute;
    top: 72%;
    right: 0;
}
.more-area h3{
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 49.534%;
    color: #505253;
}
/* common fixed
---------------------- */
h1{
    width: 45px;
    position: fixed;
    top: 4.819%;
    left: 2.916%;
    z-index: 35;
}
h1 a img{
    width: 100%;
}
.fa-shopping-cart{
    position: absolute; /* 追加 *//* 変更 */
    top: 5.319%;
    right: 80px;
    font-size: 22px;
    opacity: 0.7;
    z-index: 30;
    /* display: none; */
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
.scroll-area{
    width: 5.219%;
    height: 31.788%;
    position: absolute;
    top: 60.071%;
    left: 2.708%;
    z-index: 29;
    position: fixed;
}
.scroll-area figure{
    height: 37.026%;
    position: absolute;
    top: 62.973%;
    left: 0;
    right: 0;
    bottom: 0;
}
.scroll-area img{
    height: 100%;
}
.scroll-bar{
    width: 2px;
    height: 57.725%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 7%;
    overflow: hidden;
}
.scroll-bar::before {
    content: '';
    width: 2px;
    height: 117px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 0 auto 0 auto;
    background-color: #BEB9B3;
    -webkit-animation: line 2s ease 0s infinite normal;
    animation: line 2s ease 0s infinite normal;
  }

/* common title
---------------------- */
.title-area{
    width: 176px;
    height: 40%;
    position: absolute;
    top: 0;
    left: 8.562%;
    z-index: 23;
    opacity: 1;
}
.title-area .title-line{
    width: 1px;
    height: 58.186%;
    background-color: #505253;
    margin: 0 auto 0 auto;
}
.title-area figure{
    width: 63.484%;
    margin: -18% 0 0 18.181%;
}
.title-area figure img{
    width: 100%;
}
.title-area h2{
    font-size: 20px;
    line-height: 13px;
    margin: 7% 0 7% 30%;
}
.title-area p{
    font-size: 10px;
    margin: 0 0 0 30%;
}

/* animation
---------------------- */
@keyframes line {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      60% {
        -webkit-transform: translate3d(0, 117px, 0);
        transform: translate3d(0, 117px, 0);
      }
      100% {
        -webkit-transform: translate3d(0, 117px, 0);
        transform: translate3d(0, 117px, 0);
      }
}
@keyframes circle {
    0% { stroke-dasharray: 0 377; }
    99.9%,to { stroke-dasharray: 377 377; }
  }
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes top-in-header{
    0%{
        top: -40%;
    }
    100%{
        top: 0;
    }
}
@keyframes top-in{
    0%{
        top: -25%;
    }
    100%{
        top: 0;
    }
}
@keyframes left-in-more{
    0%{
        left: 0;
    }
    100%{
        left: 33.184%;
    }
}
@keyframes left-in-text{
    0%{
        left: 0%;
    }
    100%{
        left: 15.789%;
    }
}
@keyframes left-in-box{
    0%{
        left: -20%;
    }
    100%{
        left: 0;
    }
}
@keyframes right-in-img{
    0%{
        right: -20%;
    }
    100%{
        right: 0;
    }
}
@keyframes menu-in{
    0%{
        margin-right: -374px;
    }
    100%{
        margin-right: 0px;
    }
}
.top-in{
    /* アニメーション */
    animation-name: top-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.left-in-more{
    /* アニメーション */
    animation-name: left-in-more;
    animation-duration: 0.6s;
    animation-delay: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.left-in-text{
    /* アニメーション */
    animation-name: left-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.left-in-box{
    /* アニメーション */
    animation-name: left-in-box;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.right-in-img{
    /* アニメーション */
    animation-name: right-in-img;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fade-in{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menu-in{
    animation-name: menu-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* header
---------------------- */
header{
    width: 100vw;
    height: 100vh;
    background: url(../img/header.png) no-repeat center center;
    background-size: cover;
}
header .title-area{
    height: 48%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 11.562%;
    z-index: 28;
    /* アニメーション */
    animation-name: top-in-header;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
header .title-area h2{
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 3px;
    margin: 7% 0 4% 32%;
}
header .title-area span{
    font-size: 12px;
    letter-spacing: 1.5px;
    margin: 7% 0 7% 12%;
}
header .title-area p{
    font-size: 10px;
    margin: 0 0 0 29%;
}


/* header nav
---------------------- */
header .menu-button{
    display: block;
    position: fixed; /* 追加 *//* 変更 */
    top: 4.819%;
    right: 2.916%;
    z-index: 30; /* 追加 */
    width: 32px; /* 追加 */
    height: 24px; /* 追加 */
}
/* 追加 */
header .menu-button span{
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: #ffffff;
    /* トランジション */
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
/* 追加 */
header .menu-button span:nth-of-type(1){
    top: 0;
}
/* 追加 */
header .menu-button span:nth-of-type(2){
    top: 10px;
}
/* 追加 */
header .menu-button span:nth-of-type(3){
    top: 20px;
}
/* 追加 */
header .menu-button.active span:nth-of-type(1){
    top: 0;
    transform: translateY(12px) rotate(-45deg);
}
/* 追加 */
header .menu-button.active span:nth-of-type(2){
    opacity: 0;
}
/* 追加 */
header .menu-button.active span:nth-of-type(3){
    top: 0;
    transform: translateY(12px) rotate(-135deg);
}
nav{
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    padding: 4.819% 0 4.819% 1.875%;
    position: relative;
    position: absolute;
    top: 0;
    right: -364px;
    position: fixed;
    z-index: 29;
    box-shadow: 10px -20px 30px rgba(0, 0, 0, 0.30);
    /* アニメーション */
    animation: unset;
    /* display: none; */
    pointer-events: none; /* 追加 */
    /* トランジション */
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
header nav.active{
    position: absolute;
    top: 0;
    right: 0;
    position: fixed;
    pointer-events: auto; /* 追加 */
}
.nav-list{
    font-size: 22px;
    line-height: 15px;
    position: absolute;
    left: 9.89%;
    bottom: 28%;
}
.nav-list span{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 1.2px;
    color: #505253;
}
.nav-list li{
    margin-bottom: 30px;
    line-height: 20px;
}
.share-area{
    width: 90.259%;
    position: absolute;
    bottom: 8.526%;
    left: 9.89%;
}
.bottom-block{
    width: 90.259%;
    margin-right: 96px;
}
.bottom-block h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    letter-spacing: 3.45px;
    color: #BEB9B3;
    margin-bottom: 15px;
}
.share-line{
    width: 12.820%;
    height: 2px;
    background-color: #BEB9B3;
    margin-bottom: 15px;
}
nav p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #BEB9B3;
    position: absolute;
    bottom: 3.358%;
    left: 9.89%;
}


/* main01
---------------------- */
main{
    position: relative;
}



/* top
---------------------- */
.top{
    width: 100vw;
    height: 70vh;
    /* padding: 20.336% 0 0 0; */
}
.top .main-block{
    display: flex;
    align-items: center;
}
.top .deco-right{
    width: 10.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 2;
}
.top .deco-left{
    width: 10.157%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0% 0%, 80% 0, 100% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 1;
}
video{
    width: 70%;
    /* height: 100%; */
    z-index: 2;
    margin: 0 auto;
}


/* about
---------------------- */
.about .img-right{
    background: url(../img/about.jpg) no-repeat center center;
    background-size: cover;
}


/* product
---------------------- */
.product .img-left{
    background: url(../img/product.jpg) no-repeat center center;
    background-size: cover;
}

/* delivery
---------------------- */
.delivery .img-right{
    background: url(../img/package02.png) no-repeat center center;
    background-size: cover;
}
/* .delivery .main-block{
    position: relative;
} */
.delivery .more-area{
    width: 20.578%;
    height: 61px;
    position: absolute;
    top: 80.27%;
    left: -33.184%;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding: 25px 0 25px 0;
    /* margin: 0 auto; */
    background-color: #A19047;
    transition-duration: 0.6s;
}
.delivery .more-area:hover{
    background-color: unset;
    color: #A19047;
    border: 1px solid;
}

/* article
---------------------- */
.article .img-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(116, 112, 108, 0.7);
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    z-index: 3;
}
.article .more-area{
    width: 20.578%;
    height: 9.737%;
    position: absolute;
    top: 86.27%;
    left: -33.184%;
    /* left: 33.184%; */
    /* position: relative; */
}
.article-block{
    width: 52%;
    height: 50.527%;
    position: absolute;
    top: 30.432%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 24;
    display: flex;
    justify-content: space-between;
}
.article-box{
    width: 31.789%;
    height: 100%;
    background-color: #E2DFDC;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.20);
}
.article-box>div{
    width: 100%;
    height: 58.714%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 16px;
}
.article-box .article-img01{
    background: url(../img/article01.png) no-repeat center center;
    background-size: cover;
}
.article-box .article-img02{
    background: url(../img/article02.jpg) no-repeat center center;
    background-size: cover;
}
.article-box .article-img03{
    background: url(../img/article03.jpg) no-repeat center center;
    background-size: cover;
}
.article-box h3{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: #505253;
    margin: 0 4.7% 16px 4.7%;
}
.article-box p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9px;
    letter-spacing: 1.2px;
    color: #505253;
    margin: 0 4.7% 0 4.7%;
    line-height: 1.6;
}

/* レスポンシブ
---------------------- */
@media(max-width: 750px){
    header{
        width: 100vw;
        height: 100vh;
        background: url(../img/header_sp.png) no-repeat center center;
        background-size: 200vw;
    }
    .fa-shopping-cart{
        position: absolute;
        top: 5.019%;
        right: 60px;
    }
    nav{
        width: 80%;
        height: 100vh;
        background-color: #ffffff;
        padding: 4.819% 0 4.819% 1.875%;
        margin-right: 0px;
        right: -100%;
    }
    .nav-list li{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .nav-list span{
        font-size: 10px;
    }
    .bottom-block h3{
        font-size: 17px;
    }
    .bottom-block i{
        font-size: 20px;
    }
    h1{
        width: 40px;
        /* margin: 4.819% 0 0 2.916%; */
    }
    header .menu-button{
        position: fixed;
        /* top: 2%;
        right: 1.875%; */
    }
    .scroll-area{
        width: 5.219%;
        height: 31.788%;
        position: absolute;
        top: 60.071%;
        left: 2.708%;
        z-index: 29;
        position: fixed;
    }
    .main-area{
        height: 137vh;
        margin-top: 0;
    }
    #productBlock{
        /* background-color: #ffffff; */
    }
    #articleBlock{
        /* background-color: #ffffff; */
    }
    .main-block{
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .text-area{
        width: 70%;
        height: 80vh;
        position: absolute;
        top: 29.453%;
        /* left: 5.789%; */
    }
    /* .text-area h3{
        font-size: 19px;
        letter-spacing: 2px;
        line-height: 1.5;
        margin-bottom: 8%;
    } */
    /* .text-area p{
        font-size: 12px;
    } */
    .img-right{
        width: 100%;
        height: 50vh;
    }
    .deco-left{
        width: 100%;
        height: 50vh;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
    }
    .img-left{
        width: 100%;
        height: 50vh;
    }
    .deco-right{
        width: 100%;
        height: 50vh;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
    }
        /* common title
    ---------------------- */
    .title-area{
        width: 170px;
        height: 30%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .title-area .title-line{
        width: 1px;
        height: 170px;
        background-color: #505253;
        margin: 0 auto 0 auto;
    }
    .title-area figure{
        width: 63.484%;
        margin: -18% 0 0 18.181%;
    }
    .title-area figure img{
        width: 100%;
    }
    .title-area h2{
        font-size: 18px;
        line-height: 13px;
        margin: 7% 0 4% 30%;
    }
    .title-area p{
        font-size: 10px;
        margin: 0 0 0 30%;
    }
    header .title-area{
        width: 170px;
        height: 40%;
        /* background-color: ; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 28;
        /* アニメーション */
        animation-name: top-in-header;
        animation-duration: 0.6s;
        animation-delay: 0;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    header .title-area .title-line{
        width: 1px;
        height: 50.186%;
        background-color: #505253;
        margin: 0 auto 0 auto;
    }
    header .title-area h2{
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 3px;
        margin: 7% 0 4% 32%;
    }
    header .title-area span{
        font-size: 11px;
        letter-spacing: 1.5px;
        margin: 7% auto 7% 7%;
    }
    header .title-area p{
        font-size: 10px;
        margin: 0 0 0 29%;
    }
        /* common more
    ---------------------- */
    .more-area{
        width: 62.578%;
        height: 5.737%;
        position: absolute;
        top: 55.27%;
        left: -70%;
        /* position: relative; */
    }
    svg{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    circle{
        fill: transparent;
        stroke: #505253;
        stroke-width: 1;
        animation: circle 2s infinite;
    }
    .more-line{
        width: 87%;
        height: 1px;
        background-color: #505253;
        position: absolute;
        top: 72%;
        right: 0;
    }
    .more-area h3{
        font-size: 11px;
        position: absolute;
        top: 30%;
        left: 46.534%;
        color: #505253;
    }
    .delivery .more-area{
        width: 62.578%;
        height: 55px;
        position: absolute;
        top: 52.27%;
        left: -70%;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        padding: 20px;
        background-color: #A19047;
    }
        /* top
    ---------------------- */
    .top{
        width: 100vw;
        height: 60vh;
        padding: 0 0 0 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .top .main-block{
        display: flex;
        align-items: center;
    }
    .top .deco-right{
        width: 15%;
        height: 25%;
        position: absolute;
        top: 0;
        right: 0;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
        background-color: #3A462E;
        z-index: 2;
    }
    .top .deco-left{
        width: 15%;
        height: 25%;
        position: absolute;
        left: 0;
        bottom: 0;
        clip-path: polygon(0% 0%, 80% 0, 100% 100%, 0% 100%);
        background-color: #3A462E;
        z-index: 1;
    }
    video{
        width: 95%;
        /* height: 100%; */
        z-index: 2;
        margin: 0 auto;
    }


    /* article
    ---------------------- */
    .article .img-left{
        display: none;
    }
    .article{
        height: 100vh;
    }
    .article .deco-right{
        display: none;
    }
    .article .more-area{
        width: 62.578%;
        height: 5.737%;
        position: absolute;
        top: 90.27%;
        left: -33.184%;
        /* position: relative; */
    }
    /* .article .title-area .title-line{
        height: 52.186%;
    } */
    .article-block{
        width: 80%;
        height: 45%;
        position: absolute;
        top: 38.432%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 24;
        display: block;
        justify-content: space-between;
    }
    .article-box{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }
    .article-box:nth-of-type(2){
        display: none;
    }
    .article-box:nth-of-type(3){
        display: none;
    }
}

@media(min-width:1200px){
    body{
        font-size: 23px;
    }
    .more-area h3{
        font-size: 18px;
    }
    .text-area h3{
        font-size: 23px;
    }
    .text-area p{
        font-size: 15px;
    }
    .nav-list span{
        font-size: 12px;
    }
    .share p{
        font-size: 20px;
    }
    nav p{
        font-size: 10px;
    }
}