*, *::before, *::after{ box-sizing: border-box; }
/* common
---------------------- */
body{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 4.5px;
    color: #505253;
}
p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
a{
    text-decoration: none;
    color: #BEB9B3;
}
i{
    color: #BEB9B3;
}
.main-area{
    width: 100vw;
    height: 100vh;
    padding: 4.819% 1.875% 0 18.958%;
    background-color: #ffffff;
    position: relative;
}
.main-block{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
}
.text-area{
    width: 44.078%;
    height: 36.184%;
    position: absolute;
    top: 42.453%;
    left: 5.789%;
}
.text-area h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 2px;
    margin-bottom: 4.819%;
    color: #505253;
}
.text-area p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vw;
    letter-spacing: 1.25px;
    line-height: 2;
}
.img-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    z-index: 27;
}
.deco-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 1;
}
.img-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    z-index: 26;
}
.deco-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 2;
}

/* common more
---------------------- */
.more-area{
    width: 26.578%;
    height: 9.737%;
    position: absolute;
    top: 79.259%;
    left: 28.184%;
    position: relative;
}
.more-circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #505253;
}
.more-line{
    width: 87%;
    height: 1px;
    background-color: #505253;
    position: absolute;
    top: 75%;
    right: 0;
}
.more-area h3{
    font-size: 1.3vw;
    position: absolute;
    top: 30%;
    left: 46.534%;
}

/* common title
---------------------- */
.title-area{
    width: 18%;
    height: 46%;
    position: absolute;
    top: 0;
    left: 19.791%;
    z-index: 23;
    opacity: 1;
}
.title-area .title-line{
    width: 1px;
    height: 54.186%;
    background-color: #505253;
    margin: 0 auto 0 auto;
}
.title-area figure{
    width: 63.484%;
    margin: -20% 18.181% 0 auto;
}
.title-area figure img{
    width: 100%;
}
.title-area h2{
    line-height: 13px;
    margin: 7% 0 7% 30%;
}
.title-area p{
    margin: 0 0 0 28%;
}


/* header nav
---------------------- */
nav{
    width: 18.958%;
    height: 100vh;
    background-color: #ffffff;
    padding: 4.819% 0 4.819% 1.875%;
    position: relative;
    position: fixed;
    z-index: 30;
    /* background-color: salmon; */
}
h1{
    width: 52.597%;
}
h1 img{
    width: 100%;
}
.scroll-area{
    width: 5.219%;
    height: 31.788%;
    position: absolute;
    top: 37.071%;
    left: 9.89%;
}
.scroll-area figure{
    height: 37.026%;
    position: absolute;
    top: 62.973%;
    left: 0;
    right: 0;
    bottom: 0;
}
.scroll-area img{
    height: 100%;
}
.scroll-bar{
    width: 2px;
    height: 57.725%;
    background-color: #BEB9B3;
    position: absolute;
    top: 0;
    left: 45%;
}
.nav-list{
    line-height: 15px;
    position: absolute;
    top: 36.178%;
    left: 28.615%;
}
.nav-list span{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
.nav-list li{
    margin-bottom: 30px;
}
.share-area{
    width: 90.259%;
    position: absolute;
    bottom: 8.526%;
    left: 9.89%;
}
.bottom-block{
    width: 90.259%;
    margin-right: 96px;
}
.bottom-block h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    letter-spacing: 3.45px;
    color: #BEB9B3;
    margin-bottom: 15px;
}
.share-line{
    width: 12.820%;
    height: 2px;
    background-color: #BEB9B3;
    margin-bottom: 15px;
}
.share-area figure{
    width: 16.987%;
    position: absolute;
    top: 10%;
    right: 10.256%;
}
.share-area figure img{
    width: 100%;
}
nav p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #BEB9B3;
    position: absolute;
    bottom: 3.358%;
    left: 9.89%;
}
.right-buttom-area{
    width: 30.546%;
    height: 13.535%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    position: fixed;
    z-index: 29;
    margin-right: 1.875%;
}
.right-buttom-area .button-news{
    width: 100%;
    height: 29%;
    background-color: rgba(190, 185, 179, 1);
}
.right-buttom-area .button-news p{
    font-size: 1vw;
    width: 100%;
    height: 29%;
    background-color: rgba(190, 185, 179, 1);
    padding: 10px 0 0 8px;
}
.right-buttom-area .button-shop{
    width: 100%;
    height: 71%;
    background-color:rgba(161, 144, 71, 1);
}
.right-buttom-area .button-shop p{
    width: 100%;
    height: 71%;
    background-color:rgba(161, 144, 71, 1);
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: 4.5px;
    color: #EBEBEB;
    text-align: center;
    padding: 25px 0 0 0;
}


/* main01
---------------------- */
main{
    position: relative;
}
/* .main{
    width: 80%;
    height: 100vh;
    padding: 4.819% 0 0 0;
    margin-right: 2.708%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    opacity: 1;
} */

.top .title-area{
    background-color: #ffffff;
    z-index: 28;
}
.top .title-area h2{
    line-height: 13px;
    margin-top: 4.09%;
    margin-bottom: 4.09%;
}
.top .title-area span{
    font-size: 1vw;
}
.top .img01{
    width: 61.184%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
    background: url(../img/top.jpg) no-repeat center center;
    background-size: cover;
}


/* top
---------------------- */
video{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


/* about
---------------------- */
.about .img-right{
    background: url(../img/about.jpg) no-repeat center center;
    background-size: cover;
}


/* product
---------------------- */
.product .img-left{
    background: url(../img/product.jpg) no-repeat center center;
    background-size: cover;
}

/* delivery
---------------------- */
.delivery .img-right{
    background: url(../img/delivery.jpg) no-repeat center center;
    background-size: cover;
}
.delivery .more-area h3{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 30%;
}

/* article
---------------------- */
.article .img-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(116, 112, 108, 0.7);
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    z-index: 3;
}
.article .more-area{
    width: 26.578%;
    height: 9.737%;
    position: absolute;
    top: 86.27%;
    left: 28.184%;
    position: relative;
}
.article-block{
    width: 100%;
    height: 54.527%;
    position: absolute;
    top: 28.432%;
    left: 0;
    padding: 0 1.71% 0 1.71%;
    z-index: 24;
    display: flex;
    justify-content: space-between;
}
.article-box{
    width: 30.789%;
    height: 100%;
    background-color: #E2DFDC;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.20);
}
.article-box>div{
    width: 100%;
    height: 60.714%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 16px;
}
.article-box .article-img01{
    background: url(../img/article01.png) no-repeat center center;
    background-size: cover;
}
.article-box .article-img02{
    background: url(../img/article02.jpg) no-repeat center center;
    background-size: cover;
}
.article-box .article-img03{
    background: url(../img/article03.png) no-repeat center center;
    background-size: cover;
}
.article-box h3{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    letter-spacing: 1.2px;
    color: #505253;
    margin: 0 4.7% 16px 4.7%;
}
.article-box p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
    margin: 0 4.7% 0 4.7%;
    line-height: 1.6;
}

/* レスポンシブ
---------------------- */
@media(max-width: 750px){

}
@media(min-width:1200px){
    body{
        font-size: 23px;
    }
    .more-area h3{
        font-size: 18px;
    }
    .text-area h3{
        font-size: 25px;
    }
    .text-area p{
        font-size: 15px;
    }
    .nav-list span{
        font-size: 12px;
    }
    .share p{
        font-size: 20px;
    }
    nav p{
        font-size: 12px;
    }
    .right-buttom-area .button-news p{
        font-size: 15px;
    }
    .right-buttom-area .button-shop p{
        font-size: 28px;
    }
}