*, *::before, *::after{ box-sizing: border-box; }
/* common
---------------------- */
body{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 4.5px;
    color: #505253;
}
p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
a{
    text-decoration: none;
    color: #BEB9B3;
}
i{
    color: #BEB9B3;
}
.main-area{
    width: 100vw;
    height: 100vh;
    padding: 3.336% 1.875% 0 1.875%;
    background-color: #ffffff;
    position: relative;
}
.main-block{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
}



/* common fixed
---------------------- */
h1{
    width: 5.052%;
    margin: 5.858% 0 0 2.916%;
    position: fixed;
    z-index: 30;
}
h1 img{
    width: 100%;
}
.scroll-area{
    width: 5.219%;
    height: 31.788%;
    position: absolute;
    top: 37.071%;
    left: 2.708%;
    z-index: 29;
    position: fixed;
}
.scroll-area figure{
    height: 37.026%;
    position: absolute;
    top: 62.973%;
    left: 0;
    right: 0;
    bottom: 0;
}
.scroll-area img{
    height: 100%;
}
.scroll-bar{
    width: 2px;
    height: 57.725%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 7%;
    overflow: hidden;
}
.scroll-bar::before {
    content: '';
    width: 2px;
    height: 117px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 0 auto 0 auto;
    background-color: #BEB9B3;
    -webkit-animation: line 2s ease 0s infinite normal;
    animation: line 2s ease 0s infinite normal;
  }
.menu{
    width: 30px;
    position: absolute;
    left: 2.708%;
    bottom: 2.78%;
    z-index: 29;
    position: fixed;
}
.menu img{
    width: 100%;
}

/* common title
---------------------- */
.title-area{
    width: 22%;
    height: 46%;
    position: absolute;
    top: -46%;
    left: 5.937%;
    z-index: 23;
    opacity: 1;
}
.title-area .title-line{
    width: 1px;
    height: 54.186%;
    background-color: #505253;
    margin: 0 auto 0 auto;
}
.title-area figure{
    width: 50.484%;
    margin: 8% auto 0 25.181%;
}
.title-area figure img{
    width: 100%;
}
.title-text{
    position: absolute;
    top: 27.354%;
    left: 13.854%;
    z-index: 23;
}
.title-text h3{
    font-size: 1.4vw;
}
.title-text p{
    font-size: 1vw;
}
.main-area h2{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: 3px;
    color: #505253;
    margin-bottom: 10px;
}


/* animation
---------------------- */
@keyframes line {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      60% {
        -webkit-transform: translate3d(0, 117px, 0);
        transform: translate3d(0, 117px, 0);
      }
      100% {
        -webkit-transform: translate3d(0, 117px, 0);
        transform: translate3d(0, 117px, 0);
      }
}
@keyframes top-in{
    0%{
        top: -46%;
    }
    100%{
        top: 0;
    }
}
@keyframes top-in-text{
    0%{
        top: -5%;
    }
    100%{
        top: 27.354%;
    }
}
/* @keyframes menu-in{
    0%{
        margin-left: -364px;
    }
    100%{
        margin-left: 0px;
    }
} */
.top-in{
    /* アニメーション */
    animation-name: top-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in-text{
    /* アニメーション */
    animation-name: top-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* .menu-in{
    animation-name: menu-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

/* header nav
---------------------- */
nav{
    width: 18.958%;
    height: 100vh;
    background-color: #ffffff;
    padding: 4.819% 0 4.819% 1.875%;
    position: relative;
    margin-left: -364px;
    position: fixed;
    z-index: 25;
}

.nav-list{
    line-height: 15px;
    position: absolute;
    top: 36.178%;
    left: 28.615%;
}
.nav-list span{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
.nav-list li{
    margin-bottom: 30px;
}
.share-area{
    width: 90.259%;
    position: absolute;
    bottom: 8.526%;
    left: 9.89%;
}
.bottom-block{
    width: 90.259%;
    margin-right: 96px;
}
.bottom-block h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    letter-spacing: 3.45px;
    color: #BEB9B3;
    margin-bottom: 15px;
}
.share-line{
    width: 12.820%;
    height: 2px;
    background-color: #BEB9B3;
    margin-bottom: 15px;
}
/* .share-area figure{
    width: 16.987%;
    position: absolute;
    top: 10%;
    right: 10.256%;
} */
/* .share-area figure img{
    width: 100%;
} */
nav p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #BEB9B3;
    position: absolute;
    bottom: 3.358%;
    left: 9.89%;
}
.right-buttom-area{
    width: 28.546%;
    height: 15.535%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    position: fixed;
    z-index: 29;
    margin-right: 1.875%;
}
.right-buttom-area .button-news{
    width: 100%;
    height: 29%;
    background-color: rgba(190, 185, 179, 1);
}
.right-buttom-area .button-news p{
    font-size: 0.8vw;
    width: 100%;
    height: 29%;
    background-color: rgba(190, 185, 179, 1);
    padding: 10px 0 0 8px;
}
.right-buttom-area .button-shop{
    width: 100%;
    height: 71%;
    background-color:rgba(161, 144, 71, 1);
}
.right-buttom-area .button-shop p{
    width: 100%;
    height: 71%;
    background-color:rgba(161, 144, 71, 1);
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: 4.5px;
    color: #EBEBEB;
    text-align: center;
    padding: 23px 0 0 0;
}

/* main-block
---------------------- */
.main-block h3{
    position: absolute;
    top: 39.573%;
    left: 26.298%;
    z-index: 10;
}
.main-block p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.25px;
    line-height: 2;
    position: absolute;
    left: 5.208%;
    bottom: 7.126%;
    z-index: 10;
}
.main-block span{
    font-size: 0.8vw;
}
.main-block .title-back{
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23vw;
    letter-spacing: 25px;
    color: #F0F0F0;
    text-align: center;
    position: fixed;
    z-index: 1;
}
.img-block{
    width: 47.291%;
    height: 25.393%;
    position: absolute;
    top: 45.968%;
    left: 5.208%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.img-block .img{
    width: 32.158%;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.30);
}
.img-block .img01{
    /* background-image: url(../img/shop01.png);
    background-repeat: no-repeat;
    background-position: center center; */
    background: url(../img/shop01.png) no-repeat center center;
    background-size: cover;
}
.img-block .img02{
    background: url(../img/shop02.jpg) no-repeat center center;
    background-size: cover;
}
.img-block .img03{
    background: url(../img/shop03.png) no-repeat center center;
    background-size: cover;
}
.main-block .img-main{
    width: 47.5%;
    height: 79.332%;
    background: url(../img/shop01.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 15.569%;
    right: 2.625%;
    z-index: 2;
}
.deco-left{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 1;
}


/* select-area
---------------------- */
.select-area{
    width: 100vw;
    height: 100vh;
    padding: 0 1.875% 0 1.875%;
    background-color: #ffffff;
    position: relative;
}
.select-block{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    padding: 5.858% 7.922% 0 7.922%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.deco-right{
    width: 48.157%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1.875%;
    clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 1;
}
.preview{
    width: 49.621%;
    height: 93.898%;
    border-radius: 10px;
    background-color: #FFFFFF;
    z-index: 20;
    padding: 3.336% 2.164% 0 2.164%;
    /* position: absolute;
    top: 11%;
    left: 0; */
    position: relative;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
}
.preview-img{
    width: 100%;
    height: 67.216%;
    background: url(../img/shop05.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 5.711%;
}
.preview p{
    font-size: 1.2vw;
    margin-bottom: 3.092%;
}
.preview p:nth-of-type(1){
    font-size: 1.7vw;
    margin-bottom: 4.092%;
}
.preview p:nth-of-type(5){
    position: absolute;
    top: 85.773%;
    right: 14.082%;
}
.preview p:nth-of-type(6){
    font-size: 1.7vw;
    position: absolute;
    top: 90.773%;
    right: 5.082%;
}
.select-box{
    width: 42.692%;
    height: 139.573%;
    z-index: 25;
}
.select-box p{
    width: 100%;
    height: 6.469%;
    font-size: 1vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
    margin-bottom: 4.545%;
    padding: 4.5% 0 0 6%;
}
.select-box p:nth-of-type(5){
    width: 65%;
    background-color: #A19047;
    color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.30);
    text-align: center;
    padding: 4.5% 0 0 0;
    margin: 0 auto;
}

/* カレンダー
---------------------- */
.select-box div h3 {
    font-size: 18px;
}

.select-box div table {
    border-spacing: 0;
    border-collapse: collapse;
}

.select-box div td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.select-box div td:first-child {
    color: red;
}

.select-box div td:last-child {
    color: royalblue;
}

/* レスポンシブ
---------------------- */
@media(max-width: 750px){

}
@media(min-width:1200px){
    body{
        font-size: 23px;
    }
    .more-area h3{
        font-size: 18px;
    }
    .title-text h2{
        font-size: 25px;
    }
    .title-text p{
        font-size: 14px;
    }
    .nav-list span{
        font-size: 12px;
    }
    .share p{
        font-size: 20px;
    }
    nav p{
        font-size: 12px;
    }
    .right-buttom-area .button-news p{
        font-size: 13px;
    }
    .right-buttom-area .button-shop p{
        font-size: 25px;
    }
    .preview p{
        font-size: 14px;
    }
    .preview p:nth-of-type(1){
        font-size: 19px;
    }
    /* .title-area figure{
        width: 130px;
    } */
}
