*, *::before, *::after{ box-sizing: border-box; }
/* common
---------------------- */
body{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing: 4.5px;
    color: #505253;
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-font-smoothing: antialiased;
}
p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
a{
    text-decoration: none;
    color: #BEB9B3;
}
i{
    color: #BEB9B3;
}
main{
    background-color: #f8f8f8;
}
.title-back{
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23vw;
    letter-spacing: 25px;
    color: #F0F0F0;
    text-align: center;
    position: fixed;
    z-index: 1;
}



/* common fixed
---------------------- */
h1{
    width: 5.052%;
    margin: 5.858% 0 0 2.916%;
    position: fixed;
    z-index: 30;
}
h1 img{
    width: 100%;
}
.menu{
    width: 30px;
    position: absolute;
    left: 2.708%;
    bottom: 2.78%;
    z-index: 29;
    position: fixed;
}
.menu img{
    width: 100%;
}

/* common title
---------------------- */
.title-area{
    width: 22%;
    height: 46%;
    position: absolute;
    /* top: -46%; */
    top: 0;
    left: 5.937%;
    z-index: 23;
    opacity: 1;
}
.title-area .title-line{
    width: 1px;
    height: 54.186%;
    background-color: #505253;
    margin: 0 auto 0 auto;
}
.title-area figure{
    width: 50.484%;
    margin: 8% auto 0 25.181%;
}
.title-area figure img{
    width: 100%;
}
.title-text{
    position: absolute;
    top: 27.354%;
    left: 13.854%;
    z-index: 23;
}
.title-text h2{
    font-size: 1.9vw;
    margin-bottom: 6%;
}
.title-text p{
    font-size: 1vw;
}



/* animation
---------------------- */
@keyframes top-in{
    0%{
        top: -46%;
    }
    100%{
        top: 0;
    }
}
@keyframes top-in-text{
    0%{
        top: -5%;
    }
    100%{
        top: 27.354%;
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left-in-box{
    0%{
        left: -20%;
    }
    100%{
        left: 0;
    }
}
.fade-in{
    /* アニメーション */
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in{
    /* アニメーション */
    animation-name: top-in;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.top-in-text{
    /* アニメーション */
    animation-name: top-in-text;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.left-in-box{
    /* アニメーション */
    animation-name: left-in-box;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/* article
---------------------- */
.deco-right{
    width: 20.157%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 20% 100%);
    background-color: #3A462E;
    z-index: 2;
}
.deco-left{
    width: 20.157%;
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
    clip-path: polygon(0% 0%, 80% 0, 100% 100%, 0% 100%);
    background-color: #3A462E;
    z-index: 1;
}
.article-block{
    width: 52%;
    height: 140vh;
    position: absolute;
    top: 30.432%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 5% auto;
    z-index: 24;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* アニメーション */
    animation-name: left-in-box;
    animation-duration: 0.6s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.article-box{
    width: 31.789%;
    height: 30%;
    background-color: #E2DFDC;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.20);
}
.article-box>div{
    width: 100%;
    height: 58.714%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 16px;
}
.article-box .article-img01{
    background: url(../img/article01.png) no-repeat center center;
    background-size: cover;
}
.article-box .article-img02{
    background: url(../img/article02.jpg) no-repeat center center;
    background-size: cover;
}
.article-box .article-img03{
    background: url(../img/article03.png) no-repeat center center;
    background-size: cover;
}
.article-box h3{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9vw;
    letter-spacing: 1.2px;
    color: #505253;
    margin: 0 4.7% 16px 4.7%;
}
.article-box p{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7vw;
    letter-spacing: 1.2px;
    color: #505253;
    margin: 0 4.7% 0 4.7%;
    line-height: 1.6;
}


/* レスポンシブ
---------------------- */
@media(max-width: 750px){
    .title-back{
        width: 100%;
        font-size: 15vw;
        margin: 20% auto 0 auto;
    }
    h1{
        width: 13%;
        margin: 4.819% 0 0 2.916%;
    }
    
    
    /* common title
    ---------------------- */
    .title-area{
        width: 45%;
        height: 52%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .title-area .title-line{
        width: 1px;
        height: 50.186%;
        background-color: #505253;
        margin: 0 auto 0 auto;
    }
    .title-area figure{
        width: 65.484%;
        margin: 5% 0 0 18.181%;
    }
    .title-text{
        position: absolute;
        top: 27.354%;
        left: 13.854%;
    }
    .title-text h2{
        font-size: 17px;
    }
    .article-block{
        width: 80%;
        /* height: 140vh; */
        position: absolute;
        top: 40.432%;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
    }
    .article-box{
        width: 100%;
        height: 30%;
        margin-bottom: 30px;
        background-color: #E2DFDC;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.20);
    }
    .article-box:nth-of-type(4){
        display: none;
    }
    .article-box:nth-of-type(5){
        display: none;
    }
    .article-box:nth-of-type(6){
        display: none;
    }
    .article-box:nth-of-type(7){
        display: none;
    }
    .article-box:nth-of-type(8){
        display: none;
    }
    .article-box:nth-of-type(9){
        display: none;
    }
}

@media(min-width:1200px){
    body{
        font-size: 23px;
    }
    .text-area h3{
        font-size: 23px;
        
    }
    .text-area p{
        font-size: 15px;
    }
    .nav-list span{
        font-size: 12px;
    }
    .share p{
        font-size: 20px;
    }
    nav p{
        font-size: 12px;
    }
    .right-buttom-area .button-shop p{
        font-size: 25px;
    }
}