/* header nav
---------------------- */
header .menu-button{
    display: block;
    position: fixed; /* 追加 *//* 変更 */
    top: 4.819%;
    right: 1.875%;
    z-index: 30; /* 追加 */
    width: 32px; /* 追加 */
    height: 24px; /* 追加 */
}
/* 追加 */
header .menu-button span{
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: #BEB9B3;
    /* トランジション */
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
/* 追加 */
header .menu-button span:nth-of-type(1){
    top: 0;
}
/* 追加 */
header .menu-button span:nth-of-type(2){
    top: 10px;
}
/* 追加 */
header .menu-button span:nth-of-type(3){
    top: 20px;
}
/* 追加 */
header .menu-button.active span:nth-of-type(1){
    top: 0;
    transform: translateY(12px) rotate(-45deg);
}
/* 追加 */
header .menu-button.active span:nth-of-type(2){
    opacity: 0;
}
/* 追加 */
header .menu-button.active span:nth-of-type(3){
    top: 0;
    transform: translateY(12px) rotate(-135deg);
}
nav{
    width: 18.958%;
    height: 100vh;
    background-color: #ffffff;
    padding: 4.819% 0 4.819% 1.875%;
    position: relative;
    position: absolute;
    top: 0;
    right: -370px;
    position: fixed;
    z-index: 29;
    box-shadow: 10px -20px 30px rgba(0, 0, 0, 0.30);
    /* アニメーション */
    animation: unset;
    /* display: none; */
    pointer-events: none; /* 追加 */
    /* トランジション */
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
header nav.active{
    position: absolute;
    top: 0;
    right: 0;
    position: fixed;
    /* margin-right: 0px; */
    pointer-events: auto; /* 追加 */
}

.nav-list{
    line-height: 15px;
    position: absolute;
    left: 9.89%;
    bottom: 28%;
}
.nav-list span{
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 1.2px;
    color: #505253;
}
.nav-list li{
    margin-bottom: 30px;
    line-height: 20px;
}
.share-area{
    width: 90.259%;
    position: absolute;
    bottom: 8.526%;
    left: 9.89%;
}
.bottom-block{
    width: 90.259%;
    margin-right: 96px;
}
.bottom-block h3{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    letter-spacing: 3.45px;
    color: #BEB9B3;
    margin-bottom: 15px;
}
.share-line{
    width: 12.820%;
    height: 2px;
    background-color: #BEB9B3;
    margin-bottom: 15px;
}

nav p{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #BEB9B3;
    position: absolute;
    bottom: 3.358%;
    left: 9.89%;
}




@media(max-width: 750px){
    header .menu-button{
        position: fixed; /* 追加 *//* 変更 */
        top: 2%;
    }
    nav{
        width: 80%;
        height: 100vh;
        background-color: #ffffff;
        padding: 4.819% 0 4.819% 1.875%;
        margin-right: 0px;
        right: -100%;
    }
    .nav-list li{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .nav-list span{
        font-size: 10px;
    }
    .bottom-block h3{
        font-size: 17px;
    }
    .bottom-block i{
        font-size: 20px;
    }
}


